@{
    ViewData["Title"] = "Login do Usuário";
}

<h1 class="display-4">Login do Usuário</h1>

<div>
    <form id="login-form" class="text-left" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="email" name="email">
           
        </div>

        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha">
            
        </div>

        <input type="submit" id="botao" value="Entrar">

        <p>
            Novo usuário?
            <a class="" asp-area="" asp-controller="Login" asp-action="Registro">Registrar-se</a>
        </p>
    </form>
</div>


