@model LoginModel;
@{
    ViewData["Title"] = "Cadastro do Usuário";
}

<h1 class="display-4">Cadastro do Usuário</h1>

<form method="post">
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuário</label>
        <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp"
            name="usuario" asp-for="Usuario">
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
            name="email" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label for="senha" class="form-label">Password</label>
        <input type="password" class="form-control" id="senha" name="senha" asp-for="Senha">
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <input type="submit" id="botao" value="Cadastrar" class="btn btn-primary" >


</form>

